<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="css/index.css">
    <title>Ninver - Generate your payment plan by the French method. </title>
</head>

<body>
    <div class="container">
        <div class="row fill">
            <div class="col-sm-8 bg-primary">
                <p class="title text-white">Ninver</p>
                <div class="info">
                    <h2 class="text-white text-center">Ninver : Generate your payment plan by the French method.</h2>
                    <a class="btn btn-raised btn-info" href="https://github.com/enzoftware/ninver" target="_blank">
                        <i class="fa fa-lg fa-github"></i> Github
                    </a>

                </div>
            </div>
            <div class="col-sm-4 ">

                <div id="register" class="forms hide">
                    <div>
                        <h3 class="text-center">Create an account</h3>
                        <h5 class="text-center">
                            Keep your finance state stress out with this awesome app.
                        </h5>
                    </div>

                    <form method="post" action="/french_method" th:object="${usuario}">

                        <input type="hidden" value="register" name="choose">

                        <div class="form-group bmd-form-group">
                            <label for="nameRegister" class="bmd-label-floating">Name</label>
                            <input th:field="*{nombres}" type="text" class="form-control" id="nameRegister">
                        </div>

                        <div class="form-group bmd-form-group">
                            <label for="lastNameRegister" class="bmd-label-floating">Last name</label>
                            <input th:field="*{apellidos}" type="text" class="form-control" id="lastNameRegister">
                        </div>

                        <div class="form-group bmd-form-group">

                            <label for="emailRegister" class="bmd-label-floating">Username</label>
                            <input th:field="*{email}" type="text" class="form-control" id="emailRegister">
                        </div>

                        <div class="form-group bmd-form-group">

                            <label for="passwordRegister" class="bmd-label-floating">Password</label>
                            <input th:field="*{contrasena}" type="password" class="form-control" id="passwordRegister">
                        </div>

                        <div class="form-group bmd-form-group">
                            <input type="submit" class="form-control btn btn-raised btn-primary" value="Register">
                        </div>

                    </form>
                    <div class="group">
                        <div class="pull-center">
                                <span>You have an account?
                                    <button class="action btn btn-primary"> Login</button>
                                </span>
                        </div>
                    </div>
                </div>

                <div id="login" class="forms">

                    <div>
                        <h3 class="text-center">Welcome back!</h3>
                    </div>

                    <form method="get" action="/french_method">
                        <input type="hidden" value="login" name="choose">
                        <div class="form-group bmd-form-group">

                            <label for="emailLogin" class="bmd-label-floating">Username</label>
                            <input type="text" class="form-control" id="emailLogin" name="correo">
                        </div>  
                        <div class="form-group bmd-form-group">

                            <label for="passwordLogin" class="bmd-label-floating">Password</label>
                            <input type="password" class="form-control" id="passwordLogin" name="contrasena">
                        </div>
                        <div class="form-group bmd-form-group">
                            <input type="submit" class="form-control btn btn-raised btn-primary" value="Login">
                        </div>
                    </form>

                    <div class="group">
                        <div class="pull-center">
                            <span>You don't have an account
                                <button class="action btn btn-primary">Register </button>
                            </span>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('body').bootstrapMaterialDesign();
        });

        $('.action').on('click', function () {
            $('.forms').each(function () {
                if ($(this).hasClass('hide')) {
                    $(this).removeClass('hide');
                } else {
                    $(this).addClass('hide');
                }
            });
        });
    </script>

</body>

</html>